.navbar {
    padding: 40px 30px 0px 30px;
    margin-top: 5px;
}

.navbar-brand {
    font-size: 16px;
    color: #202124;
}

.navbar-brand:hover {
    color: #094BA0;
}

.img-responsive {
    max-width: 50%; 
    height: auto;
    display: block;
}

.pull-right {
    float: right;
}

.icon {
    font-size: 22px;
}