.navbar {
    padding: 40px 30px 0px 30px;
}

.img-responsive {
    max-width: 50%; 
    height: auto;
    display: block;
}

.pull-right {
    float: right;
}

.icon {
    font-size: 22px;
}